/*utils*/
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */
/*use flexbox to centered element*/
div.load-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  z-index:500;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  overflow-y: hidden;
  overflow-x: hidden;
}
h1.load-brand {
  font-size: 20px;
  /* font-weight: bolder; */
  animation: loop2 3s ease infinite;
  letter-spacing: 0.5em;
}
h1.load-brand span:nth-child(1) {
  background-color: transparent;
  color: orange;
}
h1.load-brand span:nth-child(2) {
  background-color: orange;
  color: #f3f2ef;
  padding: 0px 6px;
  margin-left: -6px;
  border-radius: 2px;
}
div.loading-bar {
  width: 100px;
  height: 2px;
  background-color: #d6cec2;
  border-radius: 10px;
  margin-top: 25px;
  overflow: hidden;
  position: relative;
}
div.loading-bar::after {
  content: '';
  width: 50px;
  height: 2px;
  position: absolute;
  background-color: orange;
  transform: translateX(-20px);
  animation: loop 4s ease infinite;
}

@keyframes loop {
  0%,100% {
    transform: translateX(-28px);
  }
  50% {
    transform: translateX(78px)
  }
}

@keyframes loop2 {
    0%,100% {
        letter-spacing: 1em;
    }
    50% {
        letter-spacing: .1em;
    }
  }